<!DOCTYPE html>
<html><head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Exo+2:300" rel="stylesheet">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link type="text/css" rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <title>MOOCs Ranking | by Leire Litwin</title>
  <link rel="icon" href="images/favicon.png">
  <link type="text/css" rel="stylesheet" href="css/slider.css">
  <link type="text/css" rel="stylesheet" href="css/mooc.css">
  <link type="text/css" rel="stylesheet" href="css/tables.css">
  <link type="text/css" rel="stylesheet" href="css/dropdown.css">

</head>
<body>

<header class="site-header">
  <a href="#" class="logo"><img src="images/logo.png" alt="" style="width:250px; padding:5px;"></a>

  <div class="subheader">
    <ul class="principal-menu-mooc">
      <li id="menu-item-about" class="menu-item"><a href="/about">ABOUT</a></li>
      <li id="menu-item-graphs" class="menu-item"><a href="/graphs">GRAPHS</a></li>
      <li id="menu-item-data" class="menu-item"><a href="/data">DATA</a></li>
      <li id="menu-item-home" class="menu-item current-menu-item"><a href="/index">HOME</a></li>
    </ul>
  </div>
</header>

<div class="bgimg-3"style="top:100px;">
  <img src="images/graphs.png" width="380px">
  <div class="caption" style="top:45%;">
    <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">RANKINGS AND DATA</span>
  </div>
</div>

<div class="split1 left">
  <div class="container-sidebar">
    <h3 style="margin: 10px 0; margin-top: 15px">Select a continent</h3>
    <div style="width: 150px; margin:0 auto;">
      <select class="continent-selector">
        <option value="all" data-display-text="All Continents">All Continents</option>
        <option value="asia">Asia</option>
        <option value="europe">Europe</option>
        <option value="america">America</option>
        <option value="africa">Africa</option>
        <option value="oceania">Oceania</option>
      </select>
    </div>
    <br><br>
    <h3 style="margin: 10px 0">Select a country</h3>
    <div style="width: 150px; margin:0 auto;">
      <select class="country-selector" id="country-selector">
        <option value="all" data-display-text="All countries">All Countries</option>
        <option value="France">France</option>
        <option value="Spain">Spain</option>
        <option value="Germany">Germany</option>
        <option value="Italy">Italy</option>
        <option value="Belgium">Belgium</option>
      </select>
    </div>
    <br><br>
    <h3 style="margin: 10px 0">Ranking Selection</h3>
    <div id="range-slider">
      <p><input type="text" id="amount" readonly style="border:0;"></p>
      <div id="slider-range"></div>
    </div>
    <br>
    <button class="button button-blue" onclick="filterTable()" id="filter">Filter</button>
  </div>
</div>

<div class="split2 right">
  <div class="centered">
    <div class="table-responsive">
      <table id="universities-table" class="display nowrap dataTable dtr-inline collapsed" cellspacing="0" width="100%" role="grid" aria-describedby="universities-table_info" style="width: 80%; margin-top: 20px; margin-left: 10px;">
        <thead>
        <tr role="row">
          <th class="sorting" tabindex="0" aria-controls="universities-table" rowspan="1" colspan="1" aria-label="University Name: activate to sort column descending" onclick="sortTablebyString(0)" style="width: 160px;">University Name</th>
          <th class="sorting" tabindex="0" aria-controls="universities-table" rowspan="1" colspan="1" aria-label="Ranking: activate to sort column ascending" onclick="sortTablebyNumber(1)" style="width: 120px;">Ranking</th>
          <th class="sorting" tabindex="0" aria-controls="universities-table" rowspan="1" colspan="1" aria-label="ShanghaiRanking: activate to sort column ascending" onclick="sortTablebyNumber(2)" style="width: 120px;">Shanghai Ranking</th>
          <th class="sorting" tabindex="0" aria-controls="universities-table" rowspan="1" colspan="1" aria-label="Country: activate to sort column ascending" onclick="sortTablebyString(3)" style="width: 120px;">Country</th>
          <th class="sorting" tabindex="0" aria-controls="universities-table" rowspan="1" colspan="1" aria-label="Size: activate to sort column ascending" onclick="sortTablebyNumber(4)" style="width: 120px;">Size</th>
          <th class="sorting" tabindex="0" aria-controls="universities-table" rowspan="1" colspan="1" aria-label="TotalMOOCS: activate to sort column ascending" onclick="sortTablebyNumber(5)" style="width: 120px;">MOOCS</th>
        </tr>
        </thead>
        <tbody id="tableBody">

        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="scripts/scriptmooc.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(document).ready(
        function createTableOrigin(){
            var university_data = '';
            <% for(var i=0; i<data.length; i++) {%>
            university_data +='<tr>';
            university_data += '<td>'+ "<%= data[i].universityName %> "+'</td>';
            university_data += '<td style="text-align:center;">'+ <%=data[i].ranking%> + '</td>';
            university_data += '<td style="text-align:center;">'+ <%= data[i].shangaiRanking %> +'</td>';
            university_data += '<td>'+ " <%= data[i].country %> " + '</td>';
            university_data += '<td style="text-align:center;">'+ "<%= data[i].universitySize %>" +'</td>';
            university_data += '<td style="text-align:center;">'+ "<%= data[i].totalMOOCS %>" +'</td>';
            university_data +='</tr>';
            <% } %>
            $('#tableBody').html(university_data);
            sortTablebyNumber(1);
        });

    function filterTable(){
      getByCountry();
      //updateByRanking();
    }

    function updateByRanking(){
      var university_data = '';
      <% for(var i=0; i<data.length; i++) {%>
        if( <%= data[i].ranking%> >= parseInt($('#slider-range').slider("values")[0])){
          if(<%=data[i].ranking%> <= parseInt($('#slider-range').slider("values")[1])){
          university_data +='<tr>';
          university_data += '<td>'+ "<%= data[i].universityName %> "+'</td>';
          university_data += '<td style="text-align:center;">'+ <%=data[i].ranking%> + '</td>';
          university_data += '<td style="text-align:center;">'+ <%= data[i].shangaiRanking %> +'</td>';
          university_data += '<td>'+ " <%= data[i].country %> " + '</td>';
          university_data += '<td style="text-align:center;">'+ "<%= data[i].universitySize %>" +'</td>';
          university_data += '<td style="text-align:center;">'+ "<%= data[i].totalMOOCS %>" +'</td>';
          university_data +='</tr>';
        }
      }
      <% } %>
      $('#tableBody').html(university_data);
      sortTablebyNumber(1);
    }

    function getByCountry() {
        // var country = $("country-selector").val();
        //var url = 'http://localhost:3000/universities/countries/'
        var url = 'https://moocs-university-ranking.herokuapp.com/universities/countries/'
        var e = document.getElementById("country-selector");
        var country = e.options[e.selectedIndex].value;
        url += country;
        console.log(url);
        var httpRequest = false;
        httpRequest = new XMLHttpRequest();
        if (!httpRequest) {
            alert('Abort! Unable to create an XMLHTTP instance');
            return false;
        }
        httpRequest.onreadystatechange = function() { updateTable(httpRequest); };
        httpRequest.open('POST', url, true);
        httpRequest.send(null);
    }

    function updateTable(httpRequest) {
        if (httpRequest.readyState == XMLHttpRequest.DONE) {
            if (httpRequest.status == 200) {
                console.log("reply received");
                //alert(httpRequest.responseText);
                var response = JSON.parse(httpRequest.responseText);
                console.log(response);
                var university_data = '';
                for(var i=0; i<response.length; i++) {
                  if(response[i].ranking >= parseInt($('#slider-range').slider("values")[0])){
                    if(response[i].ranking <= parseInt($('#slider-range').slider("values")[1])){
                      university_data +='<tr>';
                      university_data += '<td>'+ response[i].universityName +'</td>';
                      university_data += '<td style="text-align:center;">'+ response[i].ranking + '</td>';
                      university_data += '<td style="text-align:center;">'+ response[i].shangaiRanking +'</td>';
                      university_data += '<td>'+ response[i].country + '</td>';
                      university_data += '<td style="text-align:center;">'+ response[i].universitySize +'</td>';
                      university_data += '<td style="text-align:center;">'+ response[i].totalMOOCS +'</td>';
                      university_data +='</tr>';
                    }
                  }
                }
                $('#tableBody').html(university_data);
                sortTablebyNumber(1);
            } else {
                alert('There was a problem with the response request');
            }
        }
      }
</script>

<script>
// Range slider - gravity forms
$( function() {
  var length = <%= data.length %>;
    $("#slider-range").slider({
      range: true,
      min: 1,
      max: length,
      step: 1,
      values: [ 1, length ],
      slide: function( event, ui ) {
        $("#amount").val( "#" + ui.values[0] + " - #" + ui.values[1] );
      }
    });
    $("#amount").val( "#" + $("#slider-range").slider("values", 0) +
      " - #" + $("#slider-range").slider("values", 1));
  });

</script>
<script src="scripts/sortingTables.js"></script>
<script src="scripts/dropdown.js"></script>

</body></html>
