<!DOCTYPE html>
<html><head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Exo+2:300" rel="stylesheet">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link type="text/css" rel="stylesheet" href="css/mooc.css">
<link type="text/css" rel="stylesheet" href="css/graphs.css">
<link type="text/css" rel="stylesheet" href="css/dropdown.css">
<link type="text/css" rel="stylesheet" href="css/slider.css">
<link rel="stylesheet" type="text/css" href="https://github.com/downloads/lafeber/world-flags-sprite/flags32.css" />

<title>MOOCs Ranking | by Leire Litwin</title>
<link rel="icon" href="images/favicon.png">

</head>
<body>

  <header class="site-header">
      <a href="#" class="logo"><img src="images/logo.png" onclick="changeLanguage(1)" alt="" style="width:250px; padding:5px;"></a>

    <div class="subheader">
            <ul class="principal-menu-mooc">
              <li id="menu-item-about" class="menu-item"><a href="/about">ABOUT</a></li>
              <li id="menu-item-graphs" class="menu-item"><a href="/worldmap">GRAPHS</a></li>
              <li id="menu-item-data" class="menu-item"><a href="/data">DATA</a></li>
              <li id="menu-item-home" class="menu-item current-menu-item"><a href="/index">HOME</a></li>
            </ul>
    </div>
  </header>

  <div class="bgimg-5"style="top:100px;">
    <div class="caption" style="top:45%;">
      <span class="border">GRAPHS</span>
    </div>
  </div>

  <ul class="chart-menu-mooc">
    <li class="menu-item" id="maps-menu" style="color:white;">MAPS</li>
    <li class="menu-item" id="linear-graph-menu"><a href="/lineargraphs">LINEAR GRAPH</a></li>
    <li class="menu-item" id="bar-chart-menu"><a href="/barchart">BAR CHART</a></li>
    <li class="menu-item" id="comparison-chart-menu"><a href="/comparison">COMPARISON</a></li>
  </ul>

  <div class="split1 left split1maps">
    <div class="container-sidebar container-sidebar-maps">
      <h3 style="margin: 10px 0; margin-top: 15px">Select a continent</h3>
      <div style="width: 150px; margin:0 auto;">
        <select class="continent-graph-selector" id="continent-graph-selector">
          <option value="all" data-display-text="All Continents">All Continents</option>
          <option value="Asia">Asia</option>
          <option value="Europe">Europe</option>
          <option value="America">America</option>
          <option value="Africa">Africa</option>
          <option value="Oceania">Oceania</option>
        </select>
      </div>
      <br><br>
      <!--
      <h3 style="margin: 10px 0">Select a country</h3>
      <div style="width: 150px; margin:0 auto;">
        <select class="country-graph-selector" id="country-graph-selector" >
        </select>
      </div>
      <br><br>

      <h3 style="margin: 10px 0">Ranking Selection</h3>
      <div id="range-slider">
        <p><input type="text" id="amount" readonly style="border:0;"></p>
        <div id="slider-range"></div>
      </div>
      <br>
      -->
      <button class="button button-blue" onclick="updateMap()" id="filter">Filter</button>
    </div>
  </div>

<div class="split2 right">
<div class="centered">

<div id="maps-container">
  <div id="maps-universities-africa" style="width: 90%;margin: 20px auto"></div>
</div>

</div>
<div style="float:right" id="google_translate_element"></div>
</div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.FloatPosition.TOP_LEFT, multilanguagePage: true}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
  <script src="https://www.highcharts.com/samples/maps/demo/all-maps/jquery.combobox.js"></script>

  <script src="scripts/drilldown.js"></script>
  <script src="scripts/scriptmooc.js"></script>
  <script src="scripts/slider.js"></script>
  <script src="scripts/sortingTables.js"></script>
  <script src="scripts/dropdown.js"></script>

  <script src="https://code.highcharts.com/maps/modules/map.js"></script>
  <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/mapdata/custom/africa.js"></script>

  <script>
    var countEurope=0, countAmerica=0, countOceania=0, countAfrica=0, countAsia=0;
    var countEuropeCourses=0, countAmericaCourses=0, countOceaniaCourses=0, countAfricaCourses=0, countAsiaCourses=0;

  <% for(var i=0; i<data.length; i++) {%>
      if("<%=data[i].continent%>" == "Europe"){
        countEurope++;
        countEuropeCourses += <%=data[i].totalMOOCS%>;
      }
      else if("<%=data[i].continent%>" == "America"){
        countAmerica++;
        countAmericaCourses += <%=data[i].totalMOOCS%>;
      }
      else if("<%=data[i].continent%>" == "Oceania"){
        countOceania++;
        countOceaniaCourses += <%=data[i].totalMOOCS%>;
      }
      else if("<%=data[i].continent%>" == "Africa"){
        countAfrica++;
        countAfricaCourses += <%=data[i].totalMOOCS%>;
      }
      else if("<%=data[i].continent%>" == "Asia"){
        countAsia++;
        countAsiaCourses += <%=data[i].totalMOOCS%>;
      }
      else{
        console.log("Continent wrong, must be not existing - "+<%=data[i].continent%>);
      }
  <% } %>

    var totalCount = countEurope + countAsia + countAmerica + countOceania + countAfrica;
    var totalCountCourses = countEuropeCourses + countAsiaCourses + countAmericaCourses + countOceaniaCourses + countAfricaCourses;

  </script>

  <script>
      var countryList = [];
      var countryMOOCsEurope = [];
      var countryMOOCsMap = [];
      var countryMOOCsPie = [];
      var countryMOOCsAfrica = [];
      var countryMOOCsAsia = [];
      var countryMOOCsAmerica = [];
      var countryMOOCsOceania = [];
      var variableMap = [];

      var data2 = <%-JSON.stringify(data)%>;

      $(document).ready(
          function fillDropDown(){
              var exists = 0;
              var dropdown = '<option value=\"all\" data-display-text=\"All Countries\">All Countries</option>';
              var dropdown2 = '<option value=\"all\" data-display-text=\"All Universities\">All Universities</option>';

              //console.log("Data2: " + data2[0].country);

              for(var i=0; i<data2.length; i++) {
                dropdown2 += '<option value="' + data2[i].universityName + '">' + data2[i].universityName + '</option>';

                  if (countryList.length == 0) {
                      countryList.push(data2[i]);
                      //console.log(countryList[0].country);
                  }
                  else {
                      for (var j = 0; j < countryList.length; j++) {
                          if(data2[i].country == countryList[j].country){
                              countryList[j].totalMOOCS += data2[i].totalMOOCS;
                              exists = 1;
                          }
                      }
                      if (exists == 0){
                          countryList.push(data2[i]);
                      }
                      else{
                          exists = 0
                      }
                  }
              }

              var text = "";

              for (var i = 0; i < countryList.length; i++) {
                  var myObject = countryList[i];

                  for (var x in myObject) {
                      text += ( x + ": " + myObject[x] + " ");
                  }
                  text += "<br/>";
              }
               //console.log(text);

              for (var j = 0; j < countryList.length; j++) {
                countryMOOCsPie.push({name: "'"+countryList[j].country+"'", y: countryList[j].totalMOOCS});
                countryMOOCsMap.push({code2: countryList[j].countryCode, value: countryList[j].totalMOOCS, name: countryList[j].country});

                if(countryList[j].continent == "Europe"){
                    countryMOOCsEurope.push({name: countryList[j].country, y: countryList[j].totalMOOCS});
                }
                else if(countryList[j].continent == "America"){
                    //countryMOOCsAmerica.push((countryList[j].country, countryList[j].totalMOOCS));
                    countryMOOCsAmerica.push({name: countryList[j].country, y: countryList[j].totalMOOCS});

                }
                else if(countryList[j].continent == "Asia"){
                    countryMOOCsAsia.push({name: countryList[j].country, y: countryList[j].totalMOOCS});
                }
                else if(countryList[j].continent == "Oceania"){
                    countryMOOCsOceania.push({name: countryList[j].country, y: countryList[j].totalMOOCS});
                }
                else if(countryList[j].continent == "Africa"){
                    countryMOOCsAfrica.push({name: countryList[j].country, y: countryList[j].totalMOOCS});
                }
                else{
                    console.log("Continent wrong, must be not existing - "+ countryList[j].continent);
                }
              }

                  $.each(countryMOOCsMap, function () {
                      this.value = (this.value < 1 ? 1 : this.value);
                  });

              for(let i = 0; i < countryList.length; i++) {
                  dropdown += '<option value="' + countryList[i].country + '">' + countryList[i].country + '</option>';
              }
              $('#country-graph-selector').html(dropdown);
              $('#university1-selector').html(dropdown2);
              $('#university2-selector').html(dropdown2);
              $(".customCountryDrop").remove();
              create_custom_dropdowns();
              allMaps();
          });

      $("#continent-graph-selector").change(function () {
          var e = document.getElementById("continent-graph-selector");
          var continent = e.options[e.selectedIndex].value;
          filterCountryDropdown(continent);
          filterContinentComparisonDropdowns(continent);
      });

      $("#country-graph-selector").change(function () {
          var e = document.getElementById("country-graph-selector");
          var country = e.options[e.selectedIndex].value;
          filterCountryComparisonDropdowns(country);
      });

      function filterCountryDropdown(continent){
          var dropdown = '<option value=\"all\" data-display-text=\"All Countries\">All Countries</option>';
          console.log(continent);
          console.log(countryList);
          for(let i = 0; i < countryList.length; i++) {
              if(continent == "all"){
                  dropdown += '<option value="' + countryList[i].country + '">' + countryList[i].country + '</option>';
              }
              else if ( countryList[i].continent == continent ){
                  dropdown += '<option value="' + countryList[i].country + '">' + countryList[i].country + '</option>';
              }
          }
          $("#country-graph-selector").html(dropdown);
          $(".customCountryDrop").remove();
          create_custom_dropdowns();
          //console.log(countryList);
      }

      function filterContinentComparisonDropdowns(continent){
        var dropdown2 = '<option value=\"all\" data-display-text=\"All Universities\">All Universities</option>';
          console.log(continent);
          console.log(countryList);
          for(let i = 0; i < data2.length; i++) {
              if(continent == "all"){
                  dropdown2 += '<option value="' + data2[i].universityName + '">' + data2[i].universityName + '</option>';
              }
              else if(data2[i].continent == continent){
                  dropdown2 += '<option value="' + data2[i].universityName + '">' + data2[i].universityName + '</option>';
              }
          }
          $("#university1-selector").html(dropdown2);
          $("#university2-selector").html(dropdown2);
          $(".customCountryDrop").remove();
          create_custom_dropdowns();
          //console.log(countryList);
      }

      // Range slider - gravity forms
      $( function() {
          var length = <%= data.length %>;
          $("#slider-range").slider({
              range: true,
              min: 1,
              max: length,
              step: 1,
              values: [ 1, length ],
              slide: function( event, ui ) {
                  $("#amount").val( "#" + ui.values[0] + " - #" + ui.values[1] );
              }
          });
          $("#amount").val( "#" + $("#slider-range").slider("values", 0) +
              " - #" + $("#slider-range").slider("values", 1));
      });

    // Initiate the chart


    function allMaps(){

          Highcharts.mapChart('maps-universities-africa', {
                  chart: {
                      map: 'custom/africa'
                  },
                  title: {
                      text: 'MOOCs per Country in Africa'
                  },
                  legend: {
                      title: {
                          text: 'MOOCs per country',
                          style: {
                              color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                          }
                      }
                  },
                  mapNavigation: {
                      enabled: true,
                      buttonOptions: {
                          verticalAlign: 'bottom'
                      }
                  },
                  tooltip: {
                      backgroundColor: 'none',
                      borderWidth: 0,
                      shadow: false,
                      useHTML: true,
                      padding: 0,
                      pointFormat: '<span class="f32"><span class="flag {point.properties.hc-key}">' +
                          '</span></span> {point.name}<br>' +
                          '<span style="font-size:30px">{point.value} MOOCS</span>',
                      positioner: function () {
                          return { x: 0, y: 250 };
                      }
                  },
                  colorAxis: {
                      min: 1,
                      max: 1000,
                      type: 'logarithmic'
                  },
                  series: [{
                      data: countryMOOCsMap,
                      joinBy: ['iso-a2', 'code2'],
                      name: 'How many MOOCS in our ranking?',
                      states: {
                          hover: {
                              color: '#a4edba'
                          }
                      }
                  }]
              });


}

  </script>


</body></html>
